#!/bin/sh
#/usr/bin/curl -X POST -F "Body=\"HOST: $MONIT_HOST SERVICE: $MONIT_SERVICE DESCRIPTION: $MONIT_DESCRIPTION\"" \
#    -F "From={{ twilio_from_number }}" -F "To={{ twilio_destination_number }}" \
#    "https://api.twilio.com/2010-04-01/Accounts/{{ twilio_account_sid }}/Messages" \
#    -u "{{ twilio_account_sid }}:{{ twilio_auth_token }}"
